html
    head
        title= title

        link(rel='stylesheet', href='/index.css', type='text/css')
        

    body(class=lastStatus)
        div(class=`switch-container ${lastStatus}`)
            div(class=`switch ${lastStatus}` onclick='toggleSwitch()')
        script(src='/script.js', type='text/javascript')