html
    head
        title= title

    body
        div(class='switch-container')
            div(class='switch-background dark')
            div(class='switch-background light')
            div(class='switch')