html
    head
        title= title

        link(rel='stylesheet', href='/index.css', type='text/css')
        

    body(class='light')
        div(class='switch-container light')
            div(class='switch light' onclick='toggleSwitch()')
        script(src='/script.js', type='text/javascript')